*~
*.py[co]
*.cpp
*.so
*.orig

### Python template
# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class

.cache
.idea
.project

_static
build
config
pics
results
sphinx_docs

data
explanations
models
models_exp
results
data_info
explanations
#user_models_obj
#user_models_managers
user_datasets
PGE_gen_models

venv
venv_new


.vscode

gnn
torch_install
src/.vscode
data__DatasetsTest_tmp/

# Mac OS extentions
*.DS_Store

# Sphinx documentation
docs/_build/

