## This is other reqs needed for the whole project

# Base - models training
torch_scatter==2.1.1
torch_sparse==0.6.17
torch-cluster==1.6.1
torch-spline-conv==1.2.2

# For explainers
dive-into-graphs==1.1.0

# PGMExplainer
pgmpy
# google-generativeai
# google
# google-cloud
# google-cloud-aiplatform
# google-api-python-client
# google-cloud-language
# google-ai-generativelanguage
# google-api-core
google
# google--async-resumable-media
# google--upb
google-ai
google-api
google-api-core
google-auth
google-cloud
google-gapic
google-generativeai
goggle-iam
google-logging
google-longrunning
google-oauth2
google-protobuf
google-resumable-media
google-rpc
google-type

# For synthetic datasets
matplotlib

# Possible (check!)
psutil
# tf2onnx==1.14.0
# onnx2torch==1.2.0
# onnx==1.10.0
