{% extends "base.html" %}

{% block title %}
    GNN-AID - Interpretation
{% endblock %}


{% block content %}
    <h1>Interpretation page</h1>
<!----------        EXPLAINER        --------------->
    <details class="controls-section mode explainer" id="menu-explainer" open>
      <summary class="header">Explainer</summary>
      <div id="menu-explainer-view">
        <!-- generated stuff -->
      </div>
      <div id="menu-explainer-run-view">
        <!-- generated stuff -->
      </div>
    </details>
{% endblock %}