{% extends "base.html" %}

{% block title %}
    GNN-AID - Interpretation
{% endblock %}

{% block status %}
    Interpretation
{% endblock %}


{% block menu_content %}
<!----------        EXPLAINER        --------------->
    <details class="controls-section mode explainer" id="menu-explainer" open>
      <summary class="header">Explainer</summary>
      <div id="menu-explainer-view">
        <!-- generated stuff -->
      </div>
      <div id="menu-explainer-run-view">
        <!-- generated stuff -->
      </div>
    </details>
{% endblock %}

{% block panel_content %}
    <div class="info-panel mode explainer" id="panel-explanation-view">
        Explainer panel
        <!-- generated stuff -->
        </div>

{% endblock %}
